* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(255, 233, 166);
}

header .logo {
    margin: 0;
    padding: 1px 1px 1px 1px;
    width: fit-content;
    height: fit-content;
}

.logo img {
    margin: 0;
    padding: 1px;
    width: 200px;
    height: auto;
    display: block;
}

header .navigation {
    margin: 0;
    padding: 20px 20px;
    display: flex;
    gap: 18px;
}

header .navigation a {
    text-decoration: none;
    color: rgb(245, 188, 0);
    font-size: 18px;
    transition: color 0.5s;
}

header .navigation a:hover {
    color: rgb(108, 16, 16);
}

body {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: larger;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.outeraboutContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aboutfloatContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(255, 246, 207, 0.9);
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(32, 38, 31, 0.5);
    margin: 20px; 
    flex: 1; 
    width: 80%; 
    transition: background-color 0.5s;
}

.aboutfloatContainer:hover {
    background-color: rgba(255, 233, 166, 0.9);
}

.aboutfloat_item {
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 233, 166);
    border: solid rgb(255, 246, 207);
    border-width: 3px;
    flex: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.aboutfloatContainer:hover .aboutfloat_item {
    opacity: 1;
}


.aboutfloat_item_text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutfloat_item_text-container h2,
.aboutfloat_item_text-container p {
    margin: 10px 0;
}
