*  {    
    padding: 0;
    margin: 0;
}

/* Dev */

header {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    height: auto;
    width: 100%;
    background-color: aquamarine;
}

button {
    background-color: cadetblue;
    color: green;
    padding: 10px 20px;
}

.home {
    height: 100vh;
    outline: 2px rgb(115, 255, 0) dashed;
}

img{
    background-image: url(/assets/img/HomeBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}

body {
    font-family: Georgia;
    font-weight: 30px;
    font-size: 20px;
}

