header {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    height: auto;
    width: 100%;
    background-color: aquamarine;
}

body{
    background-image: url(Background.jpg);
    background-attachment: fixed;
    background-position: center;
}

button {
    background-color: cadetblue;
    color: green;
    padding: 10px 20px;
}

.home {
    height: 100vh;
    outline: 2px rgb(115, 255, 0) dashed;
}

font{
    font-family: Georgia;
    font-weight: 30px;
    font-size: 20px;
}