*  {    
    padding: 0;
    margin: 0;
}

/* Dev */

header {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    height: auto;
    width: 100%;
    background-color: rgb(82, 14, 104);
}

section {
    outline: 2px black dashed;
}

button {
    background-color: cadetblue;
    color: green;
    padding: 10px 20px;
}

body {
    font-family: Georgia;
    font-weight: 30px;
    font-size: 20px;
}

